.container {
  /* position: relative; */
  padding-top: 75px;
  height: 100vh;
}

.box1 {
  padding: 0 20px;
  margin-bottom: 32px;
}

.box1 > ul {
  margin-bottom: 15px;
}

.box2 {
  padding: 0 20px;
}

@media (min-width: 768px) {
  .container {
    padding-top: 95px;
    height: 100%;
  }

  .box1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 32px;
  }

  .subBox1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 25px;
  }

  .subBox1 > ul {
    margin-bottom: 30px;
  }

  .box2 {
    padding: 0 32px;
  }

  .subBox2 {
    padding-top: 17px;
  }
}

@media (min-width: 1280px) {
  .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  .box1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 32px;
    padding-right: 0;
    padding-top: 25px;
  }

  .box1 > ul {
    margin-bottom: 30px;
  }

  .box2 {
    display: flex;
    flex-direction: column;
    padding-right: 32px;
    padding-left: 0;
    padding-top: 30px;
  }
}
