.container {
    background-color: var(--secondary-background-color);
        height: 105vh;
}

.appTitle {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.5;
    /* identical to box height */
    color: #000000;
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .container {
            background-color: var(--secondary-background-color);
            background-image: none;
        }
    
        .containerWrapper {
            max-width: 768px;
            padding: 0px 20px;
        }
    
        .form {
            background-color: var(--secondary-background-color);
            width: 100vw;
            height: 100vh;
            margin: auto;
        }
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
    .container {
    background-color: #e7eaf2;
    background-image: url('../../assets/img/ellipse-violet.png'),
      url('../../assets/img/ellipse-pink.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right top;
  }

  .containerWrapper {
    margin: auto;
    width: 768px;  
    padding: 0px 32px;
    }

    .form {        
        margin: auto;
        margin-top: 0;
    }

    .signinImg {
        margin-top: 60px;        
        margin-right: 40px;
    }

    .loginImgWrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 1280px) {  
    .container {
            background-color: #e7eaf2;
            background-image: url('../../assets/img/ellipse-violet.png'),
                url('../../assets/img/ellipse-pink.png');
            background-repeat: no-repeat, no-repeat;
            background-position: left bottom, right top;
            height: 105vh;
    
        }

    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 105vh;
        background-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(50px);
        padding: 52px 91px 52px 107px;
        margin: 0;
    } 

    .signinImg {
        margin-left: 66px;
        margin-bottom: 32px;
    }

    .loginImgWrapper {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .containerWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1280px;
        padding: 0px 18px;
        margin: auto;
    }
}