.formContainer {
    width: 100%;
}

.logo {
    margin-right: 20px;
    margin-left: 20px;
    /* margin-top: 36px;  11111111111*/ 
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
}

.logoIcon {
    margin-top: 40px; /* 11111 */
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 30px;
}

.input {
    width: 280px;
    height: 34px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 55px;
    font-size: 18px;
    line-height: 27px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.5px, solid;
    border-color: #e7eaf2;
}

::placeholder {
    color: #bdbdbd;
}

.inputIcon {
    position: absolute;
    left: 10px;
    bottom: 3px;
}

.authLabel {
    position: relative;
    width: 280px;
    margin-left: 20px;
    margin-right: 20px;
}

.logBtn,
.regBtn {
    display: block;
    width: 280px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.1em;
}

.logBtn {
    background-color: #ffffff;
    color: #4a56e2;
    border: 1px solid #4a56e2;
}

.regBtn {
    background-color: #24cca7;
    border-color: transparent;
    outline: none;
    color: white;
}

@media screen and (max-width: 767px) {
    .form {
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    .logoIcon {
        width: 181px;
        height: 40px;
        margin-top: 40px; 
        margin-left: 180px;
    }

    .authForm {
        background-color: white;
        /* margin-top: 360px; */ /*11111111111*/
        margin-right: auto;
        margin-left: auto;
        /* margin-top: 140px; */ /*11111111111*/
        width: 540px;
        height: 100%;
        border-radius: 20px;
    }

    .authLabel {
        margin-left: auto;
        margin-right: auto;
    }

    .input {
        width: 410px;
        margin-top: 20px;
        margin-bottom: 20px;
        outline: none;
    }

    .form {
        margin-left: 65px;
        margin-right: 65px;
    }

    .logBtn,
    .regBtn {
        display: inline;
        width: 300px;
        margin-left: 55px;
        cursor: pointer;
    }

    .logBtn {
        margin-top: 20px;
        margin-bottom: 60px;
    }

    .regBtn {
        margin-top: 30px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        display: flex;
        margin-right: auto;
        margin-left: auto;
    }

    .desktopContainer {
        width: 100%;
        height: 105vh; /*11111111111*/
        margin-right: 0;
        margin-left: 0;
        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(50px);
        padding: 52px 91px 52px 107px; /*11111111111*/
    }

    .authForm {
        width: 540px;
        max-height: 616px; /*11111111111*/
        /* margin-top: 52px; 11111111111 */
        margin-right: auto;
        margin-left: auto;
    }
}