h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: var(--main-text-color);
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: var(--main-font);
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  height: 100%;
}

html {
  height: 100%;
}
