@font-face {
    font-family: 'Circe';
    src: local('☺'), url('../assets/fonts/Circe-Regular.otf') format('otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: local('☺'), url('../assets/fonts/Circe-Bold.otf') format('otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Segoeui';
    src: local('☺'), url('../assets/fonts/segoeui.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Segoeui';
    src: local('☺'), url('../assets/fonts/segoeuib.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: local('☺'), url('../assets/fonts/Poppins-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}


