.block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  margin-bottom: 40px;
}

.income {
  margin-right: 24px;
}

.expenses {
  margin-left: 24px;
}

.expenses,
.income {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  font-family: 'Circe', sans-serif;
  color: #e0e0e0;
  transition: all 250ms ease;
}

.expenses.checked {
  color: #ff6596;
}

.income.checked {
  color: #24cca7;
}

.offColor {
  color: #24cca7;
}
