.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navItem:not(:last-child) {
  margin-right: 36px;
}

.navText {
  display: none;
}

.iconWrapper,
.svg {
  fill: var(--secondary-color);
  height: 38px;
  width: 38px;
}

@media screen and (min-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    width: 143px;
    /* margin-bottom: 13px; */
  }
  .navItem {
    height: 27px;
  }

  .navItem:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .iconWrapper {
    margin-right: 23px;
  }

  .navText {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
  }

  .navLinkActive .navText {
    font-weight: 700;
  }

  .iconWrapper,
  .svg {
    width: 18px;
    height: 18px;
    margin-right: 23px;
  }
}

.navLink {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-text-color);
  transition: color 250ms linear;
}

.navLink:hover .navText,
.navLink:hover .svg,
.navLink:focus .navText,
.navLink:focus .svg {
  transition: color 250ms linear;
  color: var(--main-text-color);
  font-weight: 700;
  fill: var(--main-color);
}

.navLinkActive {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-text-color);

  transition: color 250ms linear;
}

.navLinkActive:hover .navText,
.navLinkActive:hover .svg .navLinkActive:focus .navText,
.navLinkActive:hover .svg {
  color: var(--main-text-color);
  font-weight: 700;
  fill: var(--main-color);
}

@media screen and (min-width: 1280px) {
  .nav {
    /* margin-bottom: 30px; */
  }

  .navItem {
    cursor: pointer;
  }
}

.navLinkActive,
.svg {
  background-color: var(--secondary-background-color);
  border-radius: 6px;
  filter: drop-shadow(0px 3px 10px rgba(74, 86, 226, 0.5));
}
