.container {
    background-color: #e7eaf2;
    background-image: url('../assets/img/ellipse-violet.png'),
    url('../assets/img/ellipse-pink.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right top;
    height: 100vh   
}

.appTitle {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.5;
  /* identical to box height */
  color: #000000;
}

@media screen and (max-width: 767px){
  .container {
    background-color: #ffffff;
    background-image: none;
  }

  .containerWrapper {
    width: 768px;
    padding: 0px 32px;
  }

    .form {
      background-color: #ffffff;
        width: 100vw;
        height: 100vh;        
        margin: 0;
    }
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .form {
    background-color: aqua;
    height: 533px;
    width: 616px;
    margin: auto;
  }

  .registerImg {
    margin-top: 60px;
    margin-bottom: 50px;
    margin-right: 40px;
  }

  .registerImgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1280px) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }

    .form {
        width: 533px;
        height: 616px;
        background-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(50px);
        padding: 52 91 52 107;
        margin: 0;
    }

    .registerImg {
        margin-left: 66px;
        margin-bottom: 32px;
    }

    .registerImgWrapper {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .containerWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}