.container {
    background-color: #E7EAF2;
    background-image: url('../assets/img/ellipse-violet.png'),
            url('../assets/img/ellipse-pink.png');
        background-repeat: no-repeat, no-repeat;
        background-position: left bottom, right top;
}

.appTitle {
    /* font-family: 'Poppins'; */
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    /* identical to box height */
    color: #000000;
}


@media screen and (max-width: 1279px) and (min-width: 768px) {
    .form {
            background-color: aqua;
            height: 533px;
            width: 616px;
        }
    
    .registerImg {
        margin-top: 60px;
        margin-bottom: 50px;
    }

    .registerImgWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}