.container {
    background-color: #e7eaf2;
    background-image: url('../assets/img/ellipse-violet.png'),
    url('../assets/img/ellipse-pink.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right top;
    height: 105vh   
}

.appTitle {
  font-family: var(--third-font);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.5;
  /* identical to box height */
  color: #000000;
}

@media screen and (max-width: 767px){
  .container {
    background-color: #ffffff;
    background-image: none;
  }

  .containerWrapper {
    max-width: 768px;
    padding: 0px 5px;
  }

    .form {
      background-color: #ffffff;
        width: 100vw;
        height: 100vh;        
        margin: auto;
    }
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  /* .container {
    padding-bottom: 42px;
  } */
  .form {   
    /* height: 533px;
    width: 616px; */
    margin: auto;
    margin-top: 0;
  }

  .registerImg {
    margin-top: 60px;    
    margin-right: 40px;
  }

  .registerImgWrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1280px) {
    /* .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    } */

    .form {        
        /* background-color: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(50px); */
        /* padding: 52 91 52 107; */
        /* margin: auto; */
        /* padding-top: 52px;
        padding-bottom: 52px;  */
    }

    .registerImg {
        margin-left: 66px;
        margin-bottom: 32px;
    }

    .registerImgWrapper {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .containerWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}