.transactionContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}

.title {
  margin-bottom: 40px;
  font-family: var(--third-font);
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 30px;
    display: flex;
    align-items: center;
    text-align: center;
  }
}

.formTransactionContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputWrapperSelect {
  position: relative;
  margin-bottom: 40px;
}

.inputWrapper {
  position: relative;
  /* margin-bottom: 40px; */
}
@media screen and (min-width: 768px) {
  .inputWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .inputContainer {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .inputContainer {
    margin-right: 30px;
  }
}

.amountInput {
  position: relative;
  width: 100%;
  padding: 0 20px 10px 20px;
  font-family: 'Circe', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
  color: #000000;
  border: none;
  background: transparent;
  border-bottom: 1px solid #e0e0e0;
  outline: none;
}

.calendarContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendarInput {
  width: 100%;
  padding: 0 20px 10px 20px;
  font-family: 'Circe', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  color: #000000;
  border: none;
  background: transparent;
  border-bottom: 1px solid #e0e0e0;
  outline: none;
}
.inputIcon {
  position: absolute;
  bottom: 10px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.commentContainer {
  margin-bottom: 40px;
}

.commentInput {
  width: 100%;
  padding: 0 20px 10px 20px;
  height: 75px;
  font-family: 'Circe', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  color: #000000;
  border: none;
  background: transparent;
  border-bottom: 1px solid #e0e0e0;
  outline: none;
}

.commentInput::placeholder {
  color: #bdbdbd;
}

.transactionButton {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 300px;
  height: 50px;
}

.cancelButton {
  margin: 0 auto;
  width: 300px;
  height: 50px;
}
