@media (min-width: 768px) {
  .container {
    /* margin-top: 40px; */
    max-height: 60vh;
    overflow: auto;
  }

  .edit{
    object-fit: contain;
    width: 22px;
    height: 22px;
    color: #24cca7;
    cursor: pointer;
    transition: opacity 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  .editBtn:hover,
  .deleteBtn:hover{
    opacity: 1;
    transform: scale(1.2);
  }

  .editBtn,
  .deleteBtn{
      opacity: 1;
      border: 2px solid #ff659600;
      background-color: transparent;
  }

  .delete {
    object-fit: contain;
    width: 22px;
    height: 22px;
    cursor: pointer;
    color: #ff6596;
    transition: opacity 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  .icon:hover{
    opacity: 1;
    transform: scale(1.2)
  }
}

@media (min-width: 1280px) {
  .container {
    width: 100%;
    margin-top: 31px;
  }
}

@media (max-width: 1279px) {
  .container {
    margin-bottom: 40px;
  }
}

.container::-webkit-scrollbar {
  height: 100%;
  width: 5px;
  background-color: transparent;
}

.container::-webkit-scrollbar-track-piece:corner-present {
  margin-top: 12px;
}

.container::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 22px;
  overflow: hidden;
}

.container::-webkit-scrollbar-track-piece:end {
  background: transparent;
}

.container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--placeholder-main-color);
}

.container::-webkit-scrollbar-track {
  border-radius: 20px;
  background: transparent;
}

.table {
  border-collapse: collapse;
}

@media (min-width: 768px) {
  .table {
    width: 100%;
    text-align: center;
  }
}

@media (min-width: 1280px) {
  .table {
    width: 715px;
    text-align: center;
  }
}

.table tr th:first-child {
  padding-left: 20px;
  padding-right: 15px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.table tr th:last-child {
  padding-left: 15px;
  padding-right: 20px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.table tr th:nth-child(n + 2) {
  padding-left: 15px;
  padding-right: 15px;
}

.table tr th:nth-child(3) {
  text-align: left;
}

.table tr th:nth-child(4) {
  text-align: left;
}

.table tr td:first-child {
  padding-left: 20px;
  padding-right: 15px;
}

.table tr td:nth-child(n + 2) {
  padding-left: 15px;
  padding-right: 15px;
}

.table tr td:nth-child(3) {
  text-align: left;
}

.table tr td:nth-child(4) {
  text-align: left;
}

.table tr td:last-child {
  text-align: right;
}

.table tr td:nth-last-child(2) {
  text-align: right;
}

.thead {
  position: sticky;
  top: 0;
  font-weight: 700;
  background-color: #fff;
  z-index: 1;
  border-bottom: none;
}

@media screen and (min-width: 1280px) {
  .thead {
    font-size: 18px;
  }
}

@media screen and (max-width: 1279px) {
  .thead {
    font-size: 15px;
  }
}

.tr {
  height: 8vh;
}

.tr:not(:last-child) {
  border-bottom: 1px solid #dcdcdf;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
}

.profit {
  color: var(--green-color);
}

.lose {
  color: var(--red-color);
}
