.header {
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: var(--secondary-background-color);
  z-index: 10;
}

.mainContainer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
}

.logoContainer {
  padding-left: 20px;
  padding-top: 15px;
}

.logoSvg {
  width: 120px;
  height: 30px;
}

.authContainer {
  display: flex;
  padding-right: 46px;
  padding-top: 18px;
  position: relative;
}

.name {
  padding-right: 8px;
  font-size: 18px;
  line-height: 27px;
  color: var(--placeholder-main-color);
}

.button {
  height: fit-content;
  padding: unset;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.exitSvg {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 30px;
  top: 21px;
  fill: var(--placeholder-main-color);
  transition: var(--main-transaction);
}

.button:hover .exitSvg,
.button:focus .exitSvg {
  fill: var(--red-color);
}

@media screen and (min-width: 480px) {
  .mainContainer {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .mainContainer {
    width: 768px;
  }

  .header {
    height: 80px;
  }

  .logoContainer {
    padding-left: 32px;
    padding-top: 20px;
  }

  .logoSvg {
    width: 160px;
    height: 40px;
  }

  .authContainer {
    padding-right: 32px;
    padding-top: 25px;
  }

  .name {
    padding-right: 14px;
  }

  .lineSvg {
    width: 2px;
    height: 30px;
    position: absolute;
    right: 117px;
    top: 22px;
  }

  .exitSvg {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 90px;
    top: 27px;
  }

  .exit {
    padding-left: 30px;
    font-size: 18px;
    line-height: 27px;
    color: var(--placeholder-main-color);
    transition: var(--main-transaction);
  }

  .button:hover .exit,
  .button:focus .exit {
    color: var(--red-color);
  }
}

@media screen and (min-width: 1280px) {
  .mainContainer {
    width: 1280px;
  }
}
