.container {
  width: 100%;
  margin: 0 auto;
}

.backdrop {
  backdrop-filter: blur(50px);
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .background {
    width: 100%;
    min-height: 100vh;
    background-color: #e7eaf2;
    background-image: url('../../assets/img/ellipse-violet.png'),
      url('../../assets/img/ellipse-pink.png');
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right top;
  }

  .backdrop {
    min-height: 100vh;
  }

  .container {
    width: 768px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
