.card {
  width: 400px;
  height: 347px;
  font-family: var(--main-font);
  color: var(--secondary-text-color);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 44px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  background-color: var(--secondary-color);
  border-radius: 30px 30px 0px 0px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.body {
  height: 288px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: var(--main-color);
  border-radius: 0px 0px 30px 30px;
  background-image: url('../../assets/img/currency-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 115%;
}

.bodyList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 17px;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
}
.bodyList:first-child {
  padding-bottom: 0;
}
.bodyList:last-child {
  padding-top: 0;
  padding-bottom: 16px;
}

.error {
  color: var(--red-color);
  text-align: center;
}

@media screen and (max-width: 480px) {
  .card {
    width: 100%;
    height: 120px;
  }

  .body {
    height: 100%;
    background-size: cover;
    background-position: 50% 60%;
  }

  .header,
  .bodyList {
    padding: 12px 20px;
  }
}

@media (min-width: 481px) and (max-width: 1279px) {
  .card {
    width: 100%;
    min-width: 335px;
    height: 182px;
  }

  .body {
    height: 147px;
    background-size: cover;
    background-position: 50% 80%;
  }

  .header,
  .bodyList {
    padding: 12px 20px;
  }

  .bodyList:first-child {
    padding-top: 16px;
    padding-bottom: 0;
  }
  .bodyList:last-child {
    padding-top: 0;
    padding-bottom: 20px;
  }
}
